#content {
    margin-top: 20px;
}

.itani, .nation1 {
    color: #8080ff;
}

.serco, .nation2 {
    color: #ff0000;
}

.uit, .nation3 {
    color: #ffff00;
}

.unaligned, .nation4 {
    color: #909090;
}

#chat_box {
    height: 370px;
    overflow: auto;
}

.tabs {
    overflow: auto;
    height: 530px;
}

#map_systems_img {
    border:1px solid #2e2e2e;
}

.health-10 {
    color: #66a85e;
}

.health-9 {
    color: #d1ce00;
}

.health-8 {
    color: #c73838;
}

.health-7 {
    color: #f24646;
}

.map_system_inner{
    text-align:center;
    cursor:crosshair;
    border-collapse:collapse;
}

.map_system_inner td{
    border:1px solid #666;
    empty-cells:show;
    border-collapse:collapse;
    margin:0;
    padding:0;
}

.map_system {
    background-color:#444;
    border-collapse:collapse;
    border:1px thin #033;
}

.map_system td{
    border-collapse:collapse;
    font-weight:700;
    font-size:14px;
    width:30px;
    height:30px;
    text-align:center;
    vertical-align:middle;
    color:#efefef;padding:0;
}
